* {
  margin: 0;
  padding: 0;
}

#background {
  background-image: linear-gradient(90deg, blue
  , green, orange);
  height: 100vh;
  color: white;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(37, 26, 20, 0.7);
  border-radius: 10px;
  padding: 15px;
  font-weight: 600;
}

#result {
  border-radius: 5px;
  background-color: orange;
  color: white;
  height: 40px;
  margin: 11px;
  padding: 5px;
  font-size:30px ;
  text-align: right;
}

button {
   border: none;
   border-radius: 10px;
   font-size: 20px;
   font-weight: 600;
   margin: 8px;
   padding: 10px;
   width: 50px;
   height: 50px;
   background-color: orange;
   cursor: pointer;
}

button:hover {
  background-color: white;
  color: orange;
}